<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "ADMIN PAGE", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "CATEGORY",admin_index_path %></li>
          <li><%= link_to "SUB CATEGORY", categories_path %></li>
           <li><%= link_to "PRODUCT", products_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>